#sortTableHeader {
  display: flex;
  align-content: flex-start;
  align-items: center;
  background-color:grey;
}

#sortP {
  align-self: center;
  padding: 10px;
  font-size: large;
 

}
#dd {
  font-size: small;
  color:black;
  padding: 8px 16px;
  border: 1px solid;
  border-color: black;
  cursor: pointer;
  background-color:  #F0F0F0;
}

