body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  color: #2A2C39;
}

h1 {
    text-align: center;
    padding: 10px;
    margin-bottom: 5px;
}


#container {
    display: flex;
    align-self: center;
    align-items: center;
   
}

#resetbtn{
  margin: 5px;
 
}

#table-holder{
  width: 100%;
  height: 100%;
}

#table {
    width: 150vw;
    height: 100%;
    margin-left: 50px;
}

#scatterArea{  
  margin: 10px;
}

#containerMapScat{
  margin: 5px;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.legend{
  cursor: pointer;
  color: #2A2C39;
}


  #map-holder {
    width: 930px;
    height: 700px;
    padding: 10px;
    align-self: center;
  }
  
  .country{
    fill: #2A2C39;   /* country colour */
    stroke: #d0d0d0; /* country border colour */
    stroke-width: 1; /* country border width */
  }
  .country-on{
    fill: #4B5358;   /* highlight colour for selected country */
  }
  .countryLabel{
    display: none;   /* hide all country labels by default */
  }
  .countryName{
    fill: #FFFAFF;   /* country label text colour */
  }
  .countryLabelBg{
    fill: grey;   /* country label background colour */
  }