body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
}

header {
    text-align: center;
    padding: 10px;
    margin-bottom: 5px;
}

#container {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-around;
}
#textmap{
  display: flex;
  align-content: flex-start;
  align-items: center;
}

#table {
    width: 85vw;
    height: 100%;
    margin: 5px;
}

#scatterArea {
    width: 100vw;
    height: 85vh;
    padding: 10px;
    margin: 5px;
  }
  
