table {
    border:1px solid grey;
    border-collapse:collapse;
    vertical-align:middle;
    margin-top: 5px;
    background: white;
    height: 890px;
    width: 100%;

}
tr,td,th{
    border:1px solid grey;
    text-align: left;
    padding: 4px;
    border-collapse:collapse;
    vertical-align:middle;
    background: white;
}


thead{
       display: table-header-group;
   }
